body
{
	margin: 0;
	padding: 0;
}
.main
{
	width: 100%;
	height: 100vh;
	background-color: #ffffff;
	background-position: center;
	background-size:cover;
	

}

#home
{
	float: left;
	margin: 25px;
	color: #000000;
	opacity: 1;
}

@media (min-width: 320px) and (max-width: 480px) {
.main
{
	background-color: #ccc;
}
}


